<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>APP01Servlet</servlet-name>
    <servlet-class>cn.zebra.web.APP01Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>APP02Servlet</servlet-name>
    <servlet-class>cn.zebra.web.APP02Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>APP03Servlet</servlet-name>
    <servlet-class>cn.zebra.web.APP03Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>APP04Servlet</servlet-name>
    <servlet-class>cn.zebra.web.APP04Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>cn.zebra.web.MonitorServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>APP01Servlet</servlet-name>
    <url-pattern>/servlet/APP01Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>APP02Servlet</servlet-name>
    <url-pattern>/servlet/APP02Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>APP03Servlet</servlet-name>
    <url-pattern>/servlet/APP03Servlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>APP04Servlet</servlet-name>
    <url-pattern>/servlet/APP04Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/servlet/MonitorServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
